{% extends 'base.html' %}

{% block content %}

<div class="card text-white bg-dark mb-3">
  <div class="card-header"></div>
  <div class="card-body">
      <form method="POST" action="{% url 'new-candidate' %}" >
        {% csrf_token %}
        <p class="form-control-plaintext">New candidate?</p>
        <textarea class="form-control" placeholder="Name" maxlength="250" name="name"></textarea>
        <textarea class="form-control" placeholder="Title" maxlength="250" name="title"></textarea>
        <textarea class="form-control" placeholder="Location" maxlength="250" name="location"></textarea>
        <textarea class="form-control" placeholder="Profile Url" maxlength="250" name="profileUrl"></textarea>
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Share">
    </form>
  </div>
</div>


{% for candidate in candidates %}
<div class="card border-dark mt-2">
  <div class="card-body">
    <h6 class="card-subtitle mb-2">
      {{candidate.username}}
      <small class="text-muted">{{candidate.timestamp}}</small>
    </h6>
    <p class="card-text">{{candidate.name}}</p>
    <p class="card-text">{{candidate.title}}</p>
    <p class="card-text">{{candidate.location}}</p>
    <p class="card-text">{{candidate.profile_url}}</p>
  </div>
</div>
{% endfor %}

{% endblock %}